
@{
    ViewBag.Title = "Index";
}

<div id="ce-wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <div>
                                    <img alt="image" id="profile-picture" src="@Url.Content("~/Content/Images/logo-large.png")">
                                </div>
                                <div id="company-name">Eleva Educação</div>
                            </span>
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <strong class="font-bold">Jônatas André (jonatas.andre)</strong>
                            </span>
                        </a>
                    </div>
                    <div class="logo-element">
                        <img src="/Content/Images/favicon.png">
                    </div>
                </li>
                <li>
                    <a href="/Escola/Index"><i class="fa fa-institution"></i> <span class="nav-label">@GlobalizationController.GetInstance().GetString("Schools")</span></a>
                </li>
                <li>
                    <a href="/Turma/Index"><i class="fa fa-graduation-cap"></i> <span class="nav-label">@GlobalizationController.GetInstance().GetString("Classes")</span></a>
                </li>
                <li>
                    <a href="/Aluno/Index"><i class="fa fa-users"></i> <span class="nav-label">@GlobalizationController.GetInstance().GetString("Students")</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">@GlobalizationController.GetInstance().GetString("Settings")</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#"><i class="fa fa-language"></i> <span class="nav-label">@GlobalizationController.GetInstance().GetString("Language")</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                @Html.Action("GetIdiomas", "Idioma")

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-default " href="#"><i class="fa fa-bars"></i> </a>
                </div>

                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="/Login/Logout">
                            <i class="fa fa-sign-out"></i> @GlobalizationController.GetInstance().GetString("Logout")
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="contents-page" class="wrapper wrapper-content animated fadeInRight">
