@model AssociationViewModel<EscolaSearchModel, EscolaViewModel>
@using CaseEleva.Models.ViewModel;
@using CaseEleva.Models.SearchModel;

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@GlobalizationController.GetInstance().GetString("Schools")</h2>
    </div>
</div>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h3>@GlobalizationController.GetInstance().GetString("Advanced search")</h3>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "", @class = "form-horizontal", @id = "form-escola-filter", onsubmit = "CE.Escola.FiltrarEscolas()" }))
        {
            <div id="divFilterResumeEscola" class="row CE-Filter-Resume">
                <div class="row">
                    @Html.LabelFor(model => model.SearchModel.Nome, GlobalizationController.GetInstance().GetString("Name"), htmlAttributes: new { @class = "col-lg-4" })
                    @Html.LabelFor(model => model.SearchModel.Diretor, GlobalizationController.GetInstance().GetString("School principal"), htmlAttributes: new { @class = "col-lg-4" })
                    @Html.LabelFor(model => model.SearchModel.Cidade, GlobalizationController.GetInstance().GetString("City"), htmlAttributes: new { @class = "col-lg-4" })
                </div>
                <div class="row">
                    <div class="col-lg-4 ">
                        @Html.TextBoxFor(model => model.SearchModel.Nome,  new {id="Nome", @class = "form-control text-box single-line" } )
                    </div>
                    <div class="col-lg-4 ">
                        @Html.TextBoxFor(model => model.SearchModel.Diretor,  new { id = "Diretor", @class = "form-control text-box single-line" } )
                    </div>
                    <div class="col-lg-4 ">
                        @Html.TextBoxFor(model => model.SearchModel.Cidade,  new { id = "Cidade", @class = "form-control text-box single-line" } )
                    </div>
                </div>

                <div class="row">
                    <button type="submit" id="crudmodel-escola-grid-resume-filter" class="btn btn-w-m btn-primary EW-Button btn-resume-filter"><i class="icon fa fa-search"></i><span class="">@GlobalizationController.GetInstance().GetString("Search")</span></button>
                </div>
            </div>
        }
    </div>
</div>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <button type="button" id="crudmodel-escola-grid-resume-add" class="btn btn-w-m btn-success EW-Button " onclick="CE.Escola.OpenDetail(false)">
            <i class="icon fa fa-plus-square-o"></i><span class="">@GlobalizationController.GetInstance().GetString("Add")</span>
        </button>
        <button type="button" id="crudmodel-escola-grid-resume-edit" class="btn btn-w-m btn-warning EW-Button " onclick="CE.Escola.OpenDetail(true)">
            <i class="icon fa fa-edit"></i><span class="">@GlobalizationController.GetInstance().GetString("Edit")</span>
        </button>
        <button type="button" id="crudmodel-escola-grid-resume-remove" class="btn btn-w-m btn-danger EW-Button " onclick="CE.Escola.Delete()">
            <i class="icon fa fa-trash"></i><span class="">@GlobalizationController.GetInstance().GetString("Remove")</span>
        </button>
        <button type="button" id="crudmodel-escola-grid-resume-remove" class="btn btn-w-m btn-danger EW-Button " onclick="CE.Escola.Turmas()">
            <i class="icon fa fa-trash"></i><span class="">@GlobalizationController.GetInstance().GetString("Remove")</span>
        </button>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th></th>
                        <th>@GlobalizationController.GetInstance().GetString("Name")</th>
                        <th>@GlobalizationController.GetInstance().GetString("School principal")</th>
                        <th>@GlobalizationController.GetInstance().GetString("Public place")</th>
                        <th>@GlobalizationController.GetInstance().GetString("Number")</th>
                        <th>@GlobalizationController.GetInstance().GetString("Complement")</th>
                        <th>@GlobalizationController.GetInstance().GetString("City")</th>
                        <th>@GlobalizationController.GetInstance().GetString("Telephone")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var escola in Model.Objects)
                    {
                        <tr>
                            <td><input type="checkbox" class="i-checks" name="check-id-@escola.Id"></td>
                            <td>@escola.Nome</td>
                            <td>@escola.Diretor</td>
                            <td>@escola.Logradouro</td>
                            <td>@escola.Numero</td>
                            <td>@escola.Complemento</td>
                            <td>@escola.Cidade</td>
                            <td>@escola.Telefone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    CE.Escola.Setup();
</script>