@model FastJus.Models.PostData.Login.Forgot

@{
    ViewBag.Title = "Forgot";
}

<div class="background-body display-table">
    <div class="display-table-cell vertical-align-middle">
        <div class="middle-box text-center animated fadeInDown middle-card-box" id="fj-forgot">
            <div class="wrapper">
                <div class="logo">
                    <div>
                        <div class="system-logo"><img src="@Url.Content("~/Content/Images/logo.png")" alt="" /></div>
                    </div>
                </div>
                <div>
                    <h5 class="title">@Globalization.GetString("Forgot your password?")</h5>
                    <h3 class="description">@Globalization.GetString("We can help you with that!")</h3>
                </div>
                <div class="rule"></div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form-forgot" }))
    {
            @Html.AntiForgeryToken();
            <div class="form-group">
                <table class="full-width">
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Globalization.GetString("Enter your email here") })
                            @Html.ValidationMessageFor(model => model.Email, "")
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary block full-width">
                                <i class="fa fa-key"></i>
                                @Globalization.GetString("Recover")
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="actionMessageError" class="font-bold form-text text-danger m-b-none text-left"></div>
                        </td>
                    </tr>
                </table>
            </div>
}

            <table class="full-width">
                <tr>
                    <td>
                        <div class="go-back-login">
                            @Html.ActionLink(Globalization.GetString("Go back"), "Index")
                        </div>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/_Copyright.cshtml")
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript">
        FJ.Login.Forgot.RenderModel();
    </script>
}