@model FastJus.Models.PostData.Login.ForgotEmail
@{
    Layout = "~/Views/Shared/_LayoutNoReply.mail.cshtml";
}

<div style="text-align: center; font-size: 20px; color: rgb(23, 157, 130); font-weight: bold;">@Globalization.GetString("Password Recovery Request")</div>
<br />
<div style="text-align: center;"><b>@Model.PersonName</b>,</div>
<br />
<div>@Globalization.GetString("We're aware that you may have lost your password, so we'll help you with this.")</div>
<br />
<div>@Globalization.GetString("If you have actually lost your password, click the button below to create a new one!")</div>
<br />
<div style="text-align: center;">
    <a href="@AbstratoPackage.Helpers.Html.Url.ExternalUrlFor(Url.Action("Recovery", "Login", new { token = @Model.RecoveryToken }))" style="background-color: #1ab394; border-color: #1ab394; color: #FFFFFF; font-size: 14px; padding: 10px 20px; font-weight: 600; margin-bottom: 35px; border-radius: 3px; text-decoration: none;">@Globalization.GetString("Recovery Password")</a>
</div>
<br />
<br />
<div>@Globalization.GetString("If you do not know what this email is about, do not worry, your account remains protected.")</div>
