@model FastJus.Models.PostData.Login.Recovery

@{
    ViewBag.Title = "Recovery";
}

<div class="background-body display-table">
    <div class="display-table-cell vertical-align-middle">
        <div class="middle-box text-center animated fadeInDown middle-card-box" id="fj-recovery">
            <div class="wrapper">
                <div class="logo">
                    <div>
                        <div class="system-logo"><img src="@Url.Content("~/Areas/ExpedientAdmin/Content/Images/logo.png")" alt="" /></div>
                    </div>
                </div>
                <div>
                    <h5 class="title">@Globalization.GetString("Forgot your password?")</h5>
                    <h3 class="description">@Globalization.GetString("We can help you with that!")</h3>
                </div>
                <div class="rule"></div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form-recovery-password" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.HiddenFor(m => m.Token)
                    <div class="form-group">
                        <table class="full-width">
                            <tr>
                                <td>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Globalization.GetString("Enter your email here") })
                                    @Html.ValidationMessageFor(model => model.Password, "")
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.RepeatPassword, new { @class = "form-control", @placeholder = Globalization.GetString("Enter your email here") })
                                    @Html.ValidationMessageFor(model => model.RepeatPassword, "")
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary block full-width">
                                        <i class="fa fa-key"></i>
                                        @Globalization.GetString("Recover")
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="copyrigth">
            <div class="text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2017 FastJus</strong><br /> @Globalization.GetString("All rights reserved") </p>
            </div>
        </div>
    </div>
</div>

