@model FastJus.Models.PostData.Login.ChangePassword
@{
    ViewBag.Title = "Index";
}
<div class="background-body display-table">
    <div class="display-table-cell vertical-align-middle">
        <div class="middle-box text-center animated fadeInDown middle-card-box" id="fj-login">
            <div class="wrapper">
                <div class="logo">
                    <div>
                        <div class="system-logo"><img src="@Url.Content("~/Content/Images/logo.png")" alt="" /></div>
                    </div>
                </div>
                <div>
                    <h3 class="company-name">@ViewBag.Company.Name</h3>
                    <h3 class="title">@Globalization.GetString("As this is your first time access, you need to change your password.")</h3>
                </div>
                <div class="rule"></div>
                @using (Html.BeginForm("DoRequiredChangePassword", "Login", FormMethod.Post, new { @class = "form-login" }))
                {
                    <div class="form-group">
                        <table class="full-width">
                            <tr>
                                <td>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = Globalization.GetString("New password") })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <table class="full-width">
                            <tr>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Globalization.GetString("Confirm the password") })
                                </td>
                            </tr>
                            @{ if (!System.String.IsNullOrEmpty(ViewBag.StatusLogin))
                                {
                                    <tr>
                                        <td>
                                            <div class="font-bold form-text text-danger m-b-none text-left">@ViewBag.StatusLogin</div>
                                        </td>
                                    </tr>
                                }
                                Authentication.ResetStatusLogin();
                            }
                        </table>
                    </div>
                    <div class="form-group">
                        <table class="full-width">
                            <tr>
                                <td>
                                    <a href='@Url.Action("Logout", "Login")'>
                                        <button type="button" class="btn btn-primary block full-width">
                                            <i class="fa fa-sign-out"></i>
                                            @Globalization.GetString("Logout")
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary block full-width">
                                        <i class="fa fa-key"></i>
                                        @Globalization.GetString("Change password")
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
        </div>
        @Html.Partial("~/Views/Shared/_Copyright.cshtml")
    </div>
</div>